@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap'); 

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

@media (max-width:999px){

    *{
        width: 100%;
    }

}

:root{

    --font-primary:"Baloo Da 2", serif;
    --font-secundary: "Josefin+Slab", serif;
    --font-action:"Mulish:ital", serif;
}

.hamburguer{
    
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media(max-width:999px){

   .hamburguer{

       position: fixed;
       height: 2rem;
       width: 2rem;

   }
}


.show-menu .hamburguer{

    right: 16rem;
}


.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
    cursor: pointer;
    
}



.show-menu #line1{

    transform: rotate(45deg) translate(.3rem, .45rem);
}



.show-menu #line2{

    opacity: 0;
    visibility: hidden;

}

.show-menu #line3{
     
    transform: rotate(-45deg) translate(.3rem, -.45rem);;


}


.line:hover{

    opacity: 0.8;
    color:black;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe8c00;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
}

                                                /* ESTILIZANDO CABEÇALHO */

.hamburguer span::before{

    content: "";
    position: absolute;
    border-right: .5rem solid #fe8c00;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-top: .5rem solid transparent;
    left: -1rem; 
}

.hamburguer span:hover{

    opacity: 0.8;
    color: black;
    transition: 1s;


}

.show-menu .hamburguer:hover span {
    opacity: 1;
}


header{

    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;


}

@media (max-width:999px){

    header{
        width: 100vw;
    }

    

}


.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}


.img-wrapper img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: zoom  15s;

}

@media (max-width:999px){

    .img-wrapper img{
        width: 100vw;
        height: 100vh;
    }   

}
@keyframes zoom {

    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{

    position: absolute;
    left: 15%;
    top: 30%;
    

}

.banner h1 {

    color: #fff;
    font-size: 4rem;
    font-family: var(--font-primary);
    font-weight: 300;
    text-shadow: .2rem .3rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: movebanner 1s;
    

}

.banner p {

    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem  rgba(0,0,0,.4);
    margin-bottom: 2rem;
    animation: movebanner 1s;

}

.banner button{

    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    background-color: purple;
    background: #fe8c00;  
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00); 
    background: linear-gradient(to left, #f83600, #fe8c00); 
    padding: 1rem 3rem;
    border: none;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
    animation: movebanner 1s;
    
    
}

.banner button:hover{

    opacity: 0.8;
    color: black;
    transition: 1s;

}

@media (max-width:999px){

    .banner{
        position:absolute;
        top: 15%;
        left:10%;
    }

    .banner h1{

        font-size: 2.5rem;
    }

    .banner p{
        
        font-size: 1rem;
    }

    .banner button{

        width: 50%;
    }

}
@keyframes movebanner{

    0%{
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;

    }

    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{

    width: 20rem;
    height: 100vh;
    background-color: rgb(121, 2, 105);
    position: fixed;
    top:0;
    right: -20rem;
    transition: all 1s;
    
}

.show-menu .sidebar{

    right: 0;
}

@media (max-width:999px){

    .sidebar{
        position: fixed;
        height: 100vh;
    }

}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,  -50%);
}

.menu-item{

    text-align: center;
    margin-bottom: .5rem;


}

.menu-link{

    font-family: var(--font-action);
    font-size: 2rem;
    color: rgb(129, 129, 129);
    transition: color 1s;
}

.menu-link:hover{
    color: #fe8c00;  
    
}

.social-midia{
    position:absolute;
    bottom: 2rem;
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
}

.social-midia i{
    
    color:#555;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}

.social-midia i:hover{
    color: #fe8c00;

}


.conhecimentos{

    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;


}

.conhecimento:nth-child(1){
    
    grid-column: 4/7;
    grid-row: 1/3;

}

.conhecimento:nth-child(2){
    
    grid-column: 3/6;
    grid-row: 3/5;

}

.conhecimento:nth-child(3){
    
    grid-column: 4/7;
    grid-row: 5/-1;

}

.conhecimento:nth-child(4){
    
    grid-column: 11/14;
    grid-row: 1/3;

}

.conhecimento:nth-child(5){
    
    grid-column: 12/15;
    grid-row: 3/5;

}

.conhecimento:nth-child(6){
    
    grid-column: 11/14;
    grid-row: 5/-1;

}

@media (max-width:999px){

    .conhecimentos{

        display: grid;
        grid-template-columns: repeat(6, .5fr);
        grid-template-rows: repeat(22, 6rem);
        row-gap: .5rem;
        



    }

    .conhecimento:nth-child(1){
    
        grid-column: 2/6;
        grid-row: 1/3;
    
    }
    
    .conhecimento:nth-child(2){
        
        grid-column: 2/6;
        grid-row: 4/6;
    
    }
    
    .conhecimento:nth-child(3){
        
        grid-column: 2/6;
        grid-row: 7/9;
    
    }
    
    .conhecimento:nth-child(4){
        
        grid-column: 2/6;
        grid-row: 10/12;
    
    }
    
    .conhecimento:nth-child(5){
        
        grid-column: 2/6;
        grid-row: 13/15;
    
    }
    
    .conhecimento:nth-child(6){
        
        grid-column: 2/6;
        grid-row: 16/18;
    
    }
    

}
.sessao-conhecimentos{
    background-color: black;
    color: #fff;
}




.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    border-bottom: solid 3px #fe8c00;
    margin-bottom: 1.5rem;
    transition: color 1s;
    
}

.sessao-header h1:hover{

    opacity: 0.8;
    color: #fe8c00;
    transition: 1s;

}

@media(max-width:999px){

    .sessao-header h1{
        
        font-size: 3rem;
        padding-left: .6rem;

    }

}

.conhecimento-header{
    display: flex;
    align-items: center;

}

.conhecimento-header i {
    font-size: 2.5rem;
    color: rgb(129,129,129);
    transition: background-color 1s;
}

.conhecimento-header i:hover{

    opacity: 0.8;
    color: #fe8c00;
    transition: 1s;

}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem; 
    padding-left: 1rem;
    transition: color 1s;
}

.conhecimento-header h3:hover{

    opacity: 0.8;
    color: #fe8c00;
    transition: 1s;

}

@media(max-width:999px){

    .conhecimento-header{

        padding-top: 3rem; 


    }

    .conhecimento-header i{

        font-size: 2.5rem;

    }

    .conhecimento-header h3{

        font-size: 2rem;
        
        padding-right:4rem ;
        text-align: center;
        align-items: center;
    }


}
                              /* CONHECIMENTO ESTÁ ESCRITO ERRADO!! PARA NÃO MUDAR TODAS AS TAGS DE PARÁGRAFO DO INDX, DECIDI CONTINUAR COM CONECIMENTO */


.conecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
    text-align: justify;
    color: #fff;
    transition: color 1s;
}

@media (max-width:999px){

    .conecimento-text{

        margin-bottom: 0%;
    }


}
.conecimento-text:hover{

    opacity: 0.8;
    color: #fe8c00;
    transition: 1s;

}



.conhecimento-img-wrapper{
    grid-column: 7/11;
    grid-row: 2/6;
    width: 50%;
    padding-left: 7.5rem;

}

.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 100%;
    
}

@media(max-width:999px){

    .conhecimento-img-wrapper{

        grid-column: 1/6;
        grid-row: 19/22;
    }

    .conhecimento-img-wrapper img{

        object-fit:cover;
        width: 110%;
        height: 100%;
        
    }


}